.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

nav {
  background-color: #0a1c29;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

nav > div {
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

nav > div > span {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
}

main {
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
}

main > h1 {
  width: 1080px;
  margin: 2rem auto;
  padding: 2rem 0 0 0.5rem;
  font-weight: 600;
  color: #0a1c29;
}

.proizvodi,
.detalji-proizvoda {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.detalji-proizvoda {
  margin-top: 5rem;
  flex-wrap: no-wrap;
}

.detalji-proizvoda > img {
  max-width: 50%;
}

.proizvod {
  width: calc(100% / 3 - 1rem);
  height: 30rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #22323e42;
  border-radius: 0.5rem;
  margin: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
}

.slika-proizvoda {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.slika-proizvoda > img {
  width: 100%;
}

.ime-proizvoda {
  width: 100%;
  padding: 0 1rem;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 0.5rem;
  text-transform: capitalize;
}

.proizvod > p {
  width: 100%;
  padding: 0 1rem;
  flex-grow: 1;
  box-sizing: border-box;
  text-align: center;
}

.cijena-proizvoda {
  padding: 0.5rem 0;
  font-size: 1.25rem;
}
